.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 140px);
}

.feed {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  width: 100%;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1400px;
}
